body {
    font-family: 'Playfair Display', serif;
    /**padding-bottom: 40px;**/
    color: #666;
    height: 100%;
}
#headline {
  margin-bottom: 30px;
}
.panel,
.responsecontainer {
  line-height: 1.5em;
}
body p, input {
    display: inline-block;
    margin: 10px;
}
#content_container a {
  font-weight: bold;
}
.kat_auswahl {
  display:block;
  margin: 10px;
}

.eingabe, .kat_auswahl {
  width: 90%;
  min-width: 200px;
}

.back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
}
.entry h4 {
    margin: 5px 0;
}
.entry .bearbeiten, .entry h3 {
    display: inline;
}
#content_container {
    width:50%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 100px auto 100px;
    line-height: 2em;
}
#nutzer {
  height: 50px;
  width: 50%;
  margin: auto;
}
#content_container img {
    padding: 5% 2%;
    max-width: 95%;
    max-height: 650px;
}
.navbar-nav > li > a {
  padding-bottom: 18px !important;
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm3
 *

/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 120px }

/*@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}*/

/* Grid demo styles */
.grid-demo {
  padding: 10px 30px;
}
.grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
  }
/******** NAVIGATION BAR **********/
.dropdown-menu {
  border-radius: 0px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.panel-default {
  border:none;
}
.panel-heading {
  border-radius: 0;
  padding: 10px 30px;
}
.panel-default > .panel-heading {
    background: none;
}
.panel-default > .panel-heading:hover {
color: #262626;
text-decoration: none;
background-color: #f5f5f5;
}
.panel-default > .panel-heading a {
  text-decoration: none;
}
.panel-group {
  margin-bottom: 0;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
  font-size: 16px;
}

.dropdown-menu li a {
  height: 37px;
  vertical-align: middle;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.yamm .yamm-content {
  padding-left: 15px;
  padding-right: 15px;
}
.scrollable-menu {
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}

/********** EINGABE *********/
.flexcontainer {
  display: flex;
  justify-content: space-between;
}
#searchField {
  /**width: 100%;**/
  width: 300px; 
  margin: 10px 0 !important;
}
#search_form,
#kraut_auswahl {
  position: relative;
/*  width: 30%; */
}
.responsecontainer {
  background: #fff;
  position:absolute; 
  width:80%;
  -webkit-box-shadow: 1px 7px 11px -3px rgba(140,138,140,0.5);
  -moz-box-shadow: 1px 7px 11px -3px rgba(140,138,140,0.5);
  box-shadow: 1px 7px 11px -3px rgba(140,138,140,0.5);
}
#formel_response {
  max-height: 250px;
  width: 90%;
  margin-left:10px;
}
#responsecontainer{
  /*width: 100%;*/
  width: 300px;
}
.responsecontainer ul {
  margin: 10px;
  padding: 0;
}
.responsecontainer li {
    list-style: none;
    margin: 5px;
}
#formel_response a {
    font-weight: normal;
}
.navbar-default {
  border-color: none !important;
  -webkit-box-shadow: 1px 7px 11px -3px rgba(140,138,140,0.5);
  -moz-box-shadow: 1px 7px 11px -3px rgba(140,138,140,0.5);
  box-shadow: 1px 7px 11px -3px rgba(140,138,140,0.5);
}

.formelkraut_auswahl {
  cursor: pointer;
}
.kraut_clicked {
  display: flex;
  justify-content: space-between;
}
.wichtigkeit {
  margin: 10px;
}
.menge {
  width: 10%;
}

/************** LOGIN-FORM **************/

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}
.fa {
  position: absolute;
  top: 35%;
  left: 40%;
}