body {
    font-family: 'Playfair Display', serif;
     /**font-size: 24pt;**/
}
body p, input {
    display: inline-block;
    margin: 10px;
}
.back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
}
.entry h4 {
    margin: 5px 0;
}
.entry input.bearbeiten, .entry h3 {
    display: inline;
}
#content_container {
    width:50%;
    margin: auto;
}
#content_container img {
    padding: 5% 2%;
    max-width: 95%;
    max-height: 650px;
}